In [7]:
#importing and pre-processing data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix


from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [12]:
# Read the data into a Pandas DataFrame
loan_info_df = pd.read_json('Resources/loan_approval_dataset.json')
loan_info_df.set_index('Id', inplace=True)
loan_info_df.head(35)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
Id,,,,,,,,,,,,
1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1
6,6915937,64,0,single,rented,no,Civil_servant,Jalgaon,Maharashtra,0,12,0
7,3954973,58,14,married,rented,no,Librarian,Tiruppur,Tamil_Nadu,8,12,0
8,1706172,33,2,single,rented,no,Economist,Jamnagar,Gujarat,2,14,0
9,7566849,24,17,single,rented,yes,Flight_attendant,Kota[6],Rajasthan,11,11,0
10,8964846,23,12,single,rented,no,Architect,Karimnagar,Telangana,5,13,0
11,4634680,78,7,single,rented,no,Flight_attendant,Hajipur[31],Bihar,7,12,0
12,6623263,22,4,single,rented,no,Designer,Adoni,Andhra_Pradesh,4,14,0
13,9120988,28,9,single,rented,no,Physician,Erode[17],Tamil_Nadu,9,12,0
14,8043880,57,12,single,rented,no,Financial_Analyst,Kollam,Kerala,8,10,0
15,9420838,48,6,single,rented,no,Technical_writer,Madurai,Tamil_Nadu,6,10,1
16,5694236,39,2,married,rented,yes,Economist,Anantapuram[24],Andhra_Pradesh,2,10,0
17,7315840,71,8,married,rented,no,Air_traffic_controller,Kamarhati,West_Bengal,8,14,0
18,3666346,56,12,single,rented,no,Politician,Bhusawal,Maharashtra,12,11,1
19,2241112,28,8,single,rented,no,Police_officer,Sirsa,Haryana,6,14,0
20,5431918,40,1,single,rented,no,Artist,Amaravati,Andhra_Pradesh,1,14,0
21,9225468,54,14,single,rented,no,Surveyor,Secunderabad,Telangana,8,10,0
22,6506739,50,4,single,rented,no,Politician,Ahmedabad,Gujarat,4,11,0
23,9157379,72,13,single,rented,yes,Design_Engineer,Ajmer,Rajasthan,9,10,0
24,9236505,36,19,single,rented,no,Chemical_engineer,Ongole,Andhra_Pradesh,6,14,0
25,1065465,23,15,married,rented,no,Hotel_Manager,Miryalaguda,Telangana,4,12,0
26,1797876,76,20,single,norent_noown,no,Mechanical_engineer,Erode[17],Tamil_Nadu,11,14,0
27,6063428,38,6,married,rented,no,Dentist,Ambattur,Tamil_Nadu,6,13,0
28,9643150,24,13,single,rented,no,Comedian,Indore,Madhya_Pradesh,6,14,0
29,8832725,64,5,single,rented,no,Biomedical_Engineer,Pondicherry,Puducherry,5,11,1
30,4386333,31,16,single,rented,no,Physician,Shimoga,Karnataka,3,12,0
31,3939397,52,19,single,rented,yes,Flight_attendant,Chennai,Tamil_Nadu,3,10,0
32,6944134,59,5,single,owned,no,Graphic_Designer,Gulbarga,Karnataka,5,11,0
33,4128828,21,10,single,rented,no,Computer_hardware_engineer,Khammam,Telangana,10,12,0
34,5023035,26,10,single,rented,yes,Petroleum_Engineer,Madurai,Tamil_Nadu,9,13,0
35,9086933,55,7,single,rented,no,Air_traffic_controller,Saharanpur,Uttar_Pradesh,7,13,0

In [10]:
loan_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 26.9+ MB

In [11]:
loan_info_df.columns

Index(['Id', 'Income', 'Age', 'Experience', 'Married/Single',
       'House_Ownership', 'Car_Ownership', 'Profession', 'CITY', 'STATE',
       'CURRENT_JOB_YRS', 'CURRENT_HOUSE_YRS', 'Risk_Flag'],
      dtype='object')