In Loan_approval4.ipynb I am changing the scaler - using a MinMaxScaler instead of a StandardScaler

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf

In [2]:
# Read the JSON file into a Pandas DataFrame
df = pd.read_json("../data/Loan_approval_dataset.json")

df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [3]:
df.describe()

,Id,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,72746.278255,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.000000,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

In [4]:
df.dtypes

Id                    int64
Income                int64
Age                   int64
Experience            int64
Married/Single       object
House_Ownership      object
Car_Ownership        object
Profession           object
CITY                 object
STATE                object
CURRENT_JOB_YRS       int64
CURRENT_HOUSE_YRS     int64
Risk_Flag             int64
dtype: object

In [5]:
unique_states_count = len(df["STATE"].unique())
print(unique_states_count)

29

In [6]:
state_app_counts = df["STATE"].value_counts()
state_app_counts

STATE
Uttar_Pradesh        28400
Maharashtra          25562
Andhra_Pradesh       25297
West_Bengal          23483
Bihar                19780
Tamil_Nadu           16537
Madhya_Pradesh       14122
Karnataka            11855
Gujarat              11408
Rajasthan             9174
Jharkhand             8965
Haryana               7890
Telangana             7524
Assam                 7062
Kerala                5805
Delhi                 5490
Punjab                4720
Odisha                4658
Chhattisgarh          3834
Uttarakhand           1874
Jammu_and_Kashmir     1780
Puducherry            1433
Mizoram                849
Manipur                849
Himachal_Pradesh       833
Tripura                809
Uttar_Pradesh[5]       743
Chandigarh             656
Sikkim                 608
Name: count, dtype: int64

In [7]:
# place some states (<2000 applications) into an "OTHER" column to reduce dimensionality
states_to_replace = state_app_counts[state_app_counts < 2000].index.tolist()

for state in states_to_replace:
    df["STATE"] = df["STATE"].replace(state, "Other")

df["STATE"].value_counts()

STATE
Uttar_Pradesh     28400
Maharashtra       25562
Andhra_Pradesh    25297
West_Bengal       23483
Bihar             19780
Tamil_Nadu        16537
Madhya_Pradesh    14122
Karnataka         11855
Gujarat           11408
Other             10434
Rajasthan          9174
Jharkhand          8965
Haryana            7890
Telangana          7524
Assam              7062
Kerala             5805
Delhi              5490
Punjab             4720
Odisha             4658
Chhattisgarh       3834
Name: count, dtype: int64

In [8]:
unique_cities_count = len(df["CITY"].unique())
print(unique_cities_count)

317

In [9]:
# Drop the cities column - see if using just the states as geographic area works: to reduce dimensionality
df = df.drop("CITY", axis=1)

In [10]:
df["Profession"].value_counts()

Profession
Physician                     5957
Statistician                  5806
Web_designer                  5397
Psychologist                  5390
Computer_hardware_engineer    5372
Drafter                       5359
Magistrate                    5357
Fashion_Designer              5304
Air_traffic_controller        5281
Comedian                      5259
Industrial_Engineer           5250
Mechanical_engineer           5217
Chemical_engineer             5205
Technical_writer              5195
Hotel_Manager                 5178
Financial_Analyst             5167
Graphic_Designer              5166
Flight_attendant              5128
Biomedical_Engineer           5127
Secretary                     5061
Software_Developer            5053
Petroleum_Engineer            5041
Police_officer                5035
Computer_operator             4990
Politician                    4944
Microbiologist                4881
Technician                    4864
Artist                        4861
Lawyer                        4818
Consultant                    4808
Dentist                       4782
Scientist                     4781
Surgeon                       4772
Aviator                       4758
Technology_specialist         4737
Design_Engineer               4729
Surveyor                      4714
Geologist                     4672
Analyst                       4668
Army_officer                  4661
Architect                     4657
Chef                          4635
Librarian                     4628
Civil_engineer                4616
Designer                      4598
Economist                     4573
Firefighter                   4507
Chartered_Accountant          4493
Civil_servant                 4413
Official                      4087
Engineer                      4048
Name: count, dtype: int64

In [11]:
# make a copy named df_original to retain the original dataframe
df_original = df

In [12]:
df["Profession"]=df["Profession"].replace({"Industrial_Engineer":"Engineer","Mechanical_engineer":"Engineer","Chemical_engineer":"Engineer","Biomedical_Engineer":"Engineer",
                                         "Petroleum_Engineer":"Engineer","Civil_Engineer":"Engineer"})
#df["Profesion"]=df["Profession"].replace({"Industrial_Engineer ":"Engineer","Mechanical_engineer":"Engineer","Chemical_engineer":"Engineer","Biomedical_Engineer":"Engineer",
   #                                      "Petroleum_Engineer":"Engineer","Civil_Engineer":"Engineer"})
df["Profession"].value_counts()

Profession
Engineer                      29888
Physician                      5957
Statistician                   5806
Web_designer                   5397
Psychologist                   5390
Computer_hardware_engineer     5372
Drafter                        5359
Magistrate                     5357
Fashion_Designer               5304
Air_traffic_controller         5281
Comedian                       5259
Technical_writer               5195
Hotel_Manager                  5178
Financial_Analyst              5167
Graphic_Designer               5166
Flight_attendant               5128
Secretary                      5061
Software_Developer             5053
Police_officer                 5035
Computer_operator              4990
Politician                     4944
Microbiologist                 4881
Technician                     4864
Artist                         4861
Lawyer                         4818
Consultant                     4808
Dentist                        4782
Scientist                      4781
Surgeon                        4772
Aviator                        4758
Technology_specialist          4737
Design_Engineer                4729
Surveyor                       4714
Geologist                      4672
Analyst                        4668
Army_officer                   4661
Architect                      4657
Chef                           4635
Librarian                      4628
Civil_engineer                 4616
Designer                       4598
Economist                      4573
Firefighter                    4507
Chartered_Accountant           4493
Civil_servant                  4413
Official                       4087
Name: count, dtype: int64

In [13]:
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Engineer,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tamil_Nadu,3,14,1

In [14]:
# reindex the data frame to set the Id as the index
df.set_index("Id", inplace=True)

In [15]:
# loop through values in Married/Single column to make a new column with 0 for married, 1 for single
df = pd.get_dummies(df, columns=["Married/Single"],dtype= int)

df.head()

,Income,Age,Experience,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag,Married/Single_married,Married/Single_single
Id,,,,,,,,,,,,
1,1303834,23,3,rented,no,Engineer,Madhya_Pradesh,3,13,0,0,1
2,7574516,40,10,rented,no,Software_Developer,Maharashtra,9,13,0,0,1
3,3991815,66,4,rented,no,Technical_writer,Kerala,4,10,0,1,0
4,6256451,41,2,rented,yes,Software_Developer,Odisha,2,12,1,0,1
5,5768871,47,11,rented,no,Civil_servant,Tamil_Nadu,3,14,1,0,1

In [16]:
# Encode Ownership columns with get_dummies

df= pd.get_dummies(df, columns=["Car_Ownership"],dtype= int)
df=pd.get_dummies(df,columns=["House_Ownership"],dtype= int)
df.head()

,Income,Age,Experience,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag,Married/Single_married,Married/Single_single,Car_Ownership_no,Car_Ownership_yes,House_Ownership_norent_noown,House_Ownership_owned,House_Ownership_rented
Id,,,,,,,,,,,,,,,
1,1303834,23,3,Engineer,Madhya_Pradesh,3,13,0,0,1,1,0,0,0,1
2,7574516,40,10,Software_Developer,Maharashtra,9,13,0,0,1,1,0,0,0,1
3,3991815,66,4,Technical_writer,Kerala,4,10,0,1,0,1,0,0,0,1
4,6256451,41,2,Software_Developer,Odisha,2,12,1,0,1,0,1,0,0,1
5,5768871,47,11,Civil_servant,Tamil_Nadu,3,14,1,0,1,1,0,0,0,1

In [17]:
# drop the married column  and the Car_Ownership no column to reduce the dimensionality, but retain binary nature of this information
df = df.drop("Married/Single_married", axis=1)
df = df.drop("Car_Ownership_no", axis=1)
df.head()

,Income,Age,Experience,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag,Married/Single_single,Car_Ownership_yes,House_Ownership_norent_noown,House_Ownership_owned,House_Ownership_rented
Id,,,,,,,,,,,,,
1,1303834,23,3,Engineer,Madhya_Pradesh,3,13,0,1,0,0,0,1
2,7574516,40,10,Software_Developer,Maharashtra,9,13,0,1,0,0,0,1
3,3991815,66,4,Technical_writer,Kerala,4,10,0,0,0,0,0,1
4,6256451,41,2,Software_Developer,Odisha,2,12,1,1,1,0,0,1
5,5768871,47,11,Civil_servant,Tamil_Nadu,3,14,1,1,0,0,0,1

In [18]:
# Encode the profession column with get_dummies
df= pd.get_dummies(df, columns=["Profession"],dtype= int)

In [19]:
# Encode the State column with git_dummies
df=pd.get_dummies(df, columns=["STATE"], dtype=int)
df.head()

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag,Married/Single_single,Car_Ownership_yes,House_Ownership_norent_noown,House_Ownership_owned,...,STATE_Madhya_Pradesh,STATE_Maharashtra,STATE_Odisha,STATE_Other,STATE_Punjab,STATE_Rajasthan,STATE_Tamil_Nadu,STATE_Telangana,STATE_Uttar_Pradesh,STATE_West_Bengal
Id,,,,,,,,,,,,,,,,,,,,,
1,1303834,23,3,3,13,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,7574516,40,10,9,13,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3991815,66,4,4,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6256451,41,2,2,12,1,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
5,5768871,47,11,3,14,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = df["Risk_Flag"]

# Separate the X variable, the features
X = df.drop("Risk_Flag", axis=1)

In [21]:
df.head()

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag,Married/Single_single,Car_Ownership_yes,House_Ownership_norent_noown,House_Ownership_owned,...,STATE_Madhya_Pradesh,STATE_Maharashtra,STATE_Odisha,STATE_Other,STATE_Punjab,STATE_Rajasthan,STATE_Tamil_Nadu,STATE_Telangana,STATE_Uttar_Pradesh,STATE_West_Bengal
Id,,,,,,,,,,,,,,,,,,,,,
1,1303834,23,3,3,13,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,7574516,40,10,9,13,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3991815,66,4,4,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6256451,41,2,2,12,1,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
5,5768871,47,11,3,14,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [22]:
# Split the data using train_test_split
# Assign a random_state of 5 to the function
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=5, stratify=y)

In [23]:
print(y_train.value_counts())
print(y_test.value_counts())

Risk_Flag
0    165753
1     23247
Name: count, dtype: int64
Risk_Flag
0    55251
1     7749
Name: count, dtype: int64

In [24]:
# Create a MinMaxScaler instances
scaler = MinMaxScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
inputs = 76
layer1_units = 150
layer2_units = 90
layer3_units = 30
layer4_units = 16
layer1_activation = "relu"
layer2_activation = "relu"
layer3_activation = "tanh"
layer4_activation = "tanh"

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1_units, activation = layer1_activation, input_dim = inputs))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2_units, activation = layer2_activation))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = layer3_units, activation = layer2_activation))

#Fourth hidden layer
nn.add(tf.keras.layers.Dense(units = layer4_units, activation = layer4_activation))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\mrkol\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 150)                    11,550

 dense_1 (Dense)                  (None, 90)                     13,590

 dense_2 (Dense)                  (None, 30)                      2,730

 dense_3 (Dense)                  (None, 16)                        496

 dense_4 (Dense)                  (None, 1)                          17

 Total params: 28,383 (110.87 KB)

 Trainable params: 28,383 (110.87 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

import math
batch_size=32
num_batches= len(X_train_scaled)/batch_size
num_batches= math.ceil(num_batches)
num_batches

In [32]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
5907/5907  5s 819us/step - accuracy: 0.9224 - loss: 0.1404
Epoch 2/200
5907/5907  5s 848us/step - accuracy: 0.9234 - loss: 0.1414
Epoch 3/200
5907/5907  5s 807us/step - accuracy: 0.9220 - loss: 0.1393
Epoch 4/200
5907/5907  5s 837us/step - accuracy: 0.9212 - loss: 0.1411
Epoch 5/200
5907/5907  5s 823us/step - accuracy: 0.9239 - loss: 0.1389
Epoch 6/200
5907/5907  5s 828us/step - accuracy: 0.9223 - loss: 0.1408
Epoch 7/200
5907/5907  5s 809us/step - accuracy: 0.9230 - loss: 0.1395
Epoch 8/200
5907/5907  5s 844us/step - accuracy: 0.9218 - loss: 0.1390
Epoch 9/200
5907/5907  5s 832us/step - accuracy: 0.9224 - loss: 0.1395
Epoch 10/200
5907/5907  5s 836us/step - accuracy: 0.9224 - loss: 0.1397
Epoch 11/200
5907/5907  5s 818us/step - accuracy: 0.9221 - loss: 0.1387
Epoch 12/200
5907/5907  5s 837us/step - accuracy: 0.9224 - loss: 0.1404
Epoch 13/200
5907/5907  5s 828us/step - accuracy: 0.9240 - loss: 0.1381
Epoch 14/200
5907/5907  5s 837us/step - accuracy: 0.9231 - loss: 0.1394
Epoch 15/200
5907/5907  5s 823us/step - accuracy: 0.9218 - loss: 0.1394
Epoch 16/200
5907/5907  5s 843us/step - accuracy: 0.9241 - loss: 0.1383
Epoch 17/200
5907/5907  5s 827us/step - accuracy: 0.9228 - loss: 0.1394
Epoch 18/200
5907/5907  5s 829us/step - accuracy: 0.9228 - loss: 0.1390
Epoch 19/200
5907/5907  5s 823us/step - accuracy: 0.9231 - loss: 0.1397
Epoch 20/200
5907/5907  5s 840us/step - accuracy: 0.9226 - loss: 0.1385
Epoch 21/200
5907/5907  5s 827us/step - accuracy: 0.9225 - loss: 0.1393
Epoch 22/200
5907/5907  5s 838us/step - accuracy: 0.9247 - loss: 0.1375
Epoch 23/200
5907/5907  5s 820us/step - accuracy: 0.9237 - loss: 0.1380
Epoch 24/200
5907/5907  5s 838us/step - accuracy: 0.9232 - loss: 0.1381
Epoch 25/200
5907/5907  5s 826us/step - accuracy: 0.9234 - loss: 0.1386
Epoch 26/200
5907/5907  5s 840us/step - accuracy: 0.9231 - loss: 0.1370
Epoch 27/200
5907/5907  5s 819us/step - accuracy: 0.9239 - loss: 0.1367
Epoch 28/200
5907/5907  5s 833us/step - accuracy: 0.9234 - loss: 0.1374
Epoch 29/200
5907/5907  5s 820us/step - accuracy: 0.9232 - loss: 0.1390
Epoch 30/200
5907/5907  5s 835us/step - accuracy: 0.9244 - loss: 0.1377
Epoch 31/200
5907/5907  5s 807us/step - accuracy: 0.9235 - loss: 0.1383
Epoch 32/200
5907/5907  5s 873us/step - accuracy: 0.9230 - loss: 0.1383
Epoch 33/200
5907/5907  5s 819us/step - accuracy: 0.9243 - loss: 0.1368
Epoch 34/200
5907/5907  5s 834us/step - accuracy: 0.9230 - loss: 0.1386
Epoch 35/200
5907/5907  5s 840us/step - accuracy: 0.9237 - loss: 0.1382
Epoch 36/200
5907/5907  5s 842us/step - accuracy: 0.9234 - loss: 0.1380
Epoch 37/200
5907/5907  5s 841us/step - accuracy: 0.9230 - loss: 0.1377
Epoch 38/200
5907/5907  5s 843us/step - accuracy: 0.9239 - loss: 0.1381
Epoch 39/200
5907/5907  5s 821us/step - accuracy: 0.9239 - loss: 0.1366
Epoch 40/200
5907/5907  5s 828us/step - accuracy: 0.9231 - loss: 0.1378
Epoch 41/200
5907/5907  5s 828us/step - accuracy: 0.9258 - loss: 0.1354
Epoch 42/200
5907/5907  5s 828us/step - accuracy: 0.9236 - loss: 0.1360
Epoch 43/200
5907/5907  5s 809us/step - accuracy: 0.9243 - loss: 0.1362
Epoch 44/200
5907/5907  5s 841us/step - accuracy: 0.9231 - loss: 0.1387
Epoch 45/200
5907/5907  5s 821us/step - accuracy: 0.9249 - loss: 0.1352
Epoch 46/200
5907/5907  5s 837us/step - accuracy: 0.9240 - loss: 0.1367
Epoch 47/200
5907/5907  5s 820us/step - accuracy: 0.9241 - loss: 0.1374
Epoch 48/200
5907/5907  5s 842us/step - accuracy: 0.9244 - loss: 0.1361
Epoch 49/200
5907/5907  5s 827us/step - accuracy: 0.9230 - loss: 0.1373
Epoch 50/200
5907/5907  5s 843us/step - accuracy: 0.9241 - loss: 0.1354
Epoch 51/200
5907/5907  5s 825us/step - accuracy: 0.9240 - loss: 0.1378
Epoch 52/200
5907/5907  5s 835us/step - accuracy: 0.9238 - loss: 0.1374
Epoch 53/200
5907/5907  5s 825us/step - accuracy: 0.9242 - loss: 0.1367
Epoch 54/200
5907/5907  5s 849us/step - accuracy: 0.9250 - loss: 0.1354
Epoch 55/200
5907/5907  5s 813us/step - accuracy: 0.9238 - loss: 0.1367
Epoch 56/200
5907/5907  6s 929us/step - accuracy: 0.9242 - loss: 0.1376
Epoch 57/200
5907/5907  5s 839us/step - accuracy: 0.9246 - loss: 0.1369
Epoch 58/200
5907/5907  5s 835us/step - accuracy: 0.9253 - loss: 0.1354
Epoch 59/200
5907/5907  5s 824us/step - accuracy: 0.9242 - loss: 0.1361
Epoch 60/200
5907/5907  5s 826us/step - accuracy: 0.9241 - loss: 0.1360
Epoch 61/200
5907/5907  5s 822us/step - accuracy: 0.9244 - loss: 0.1374
Epoch 62/200
5907/5907  5s 817us/step - accuracy: 0.9242 - loss: 0.1374
Epoch 63/200
5907/5907  5s 807us/step - accuracy: 0.9257 - loss: 0.1345
Epoch 64/200
5907/5907  5s 832us/step - accuracy: 0.9253 - loss: 0.1374
Epoch 65/200
5907/5907  5s 822us/step - accuracy: 0.9250 - loss: 0.1351
Epoch 66/200
5907/5907  5s 831us/step - accuracy: 0.9239 - loss: 0.1363
Epoch 67/200
5907/5907  5s 819us/step - accuracy: 0.9244 - loss: 0.1370
Epoch 68/200
5907/5907  5s 835us/step - accuracy: 0.9250 - loss: 0.1355
Epoch 69/200
5907/5907  5s 818us/step - accuracy: 0.9259 - loss: 0.1340
Epoch 70/200
5907/5907  5s 824us/step - accuracy: 0.9249 - loss: 0.1345
Epoch 71/200
5907/5907  5s 822us/step - accuracy: 0.9245 - loss: 0.1358
Epoch 72/200
5907/5907  5s 840us/step - accuracy: 0.9249 - loss: 0.1358
Epoch 73/200
5907/5907  5s 824us/step - accuracy: 0.9244 - loss: 0.1364
Epoch 74/200
5907/5907  5s 844us/step - accuracy: 0.9251 - loss: 0.1354
Epoch 75/200
5907/5907  5s 810us/step - accuracy: 0.9249 - loss: 0.1357
Epoch 76/200
5907/5907  5s 832us/step - accuracy: 0.9251 - loss: 0.1343
Epoch 77/200
5907/5907  5s 822us/step - accuracy: 0.9236 - loss: 0.1370
Epoch 78/200
5907/5907  5s 838us/step - accuracy: 0.9254 - loss: 0.1343
Epoch 79/200
5907/5907  5s 819us/step - accuracy: 0.9249 - loss: 0.1358
Epoch 80/200
5907/5907  5s 830us/step - accuracy: 0.9246 - loss: 0.1356
Epoch 81/200
5907/5907  5s 829us/step - accuracy: 0.9248 - loss: 0.1361
Epoch 82/200
5907/5907  5s 824us/step - accuracy: 0.9237 - loss: 0.1363
Epoch 83/200
5907/5907  5s 810us/step - accuracy: 0.9250 - loss: 0.1361
Epoch 84/200
5907/5907  5s 829us/step - accuracy: 0.9259 - loss: 0.1354
Epoch 85/200
5907/5907  5s 813us/step - accuracy: 0.9238 - loss: 0.1361
Epoch 86/200
5907/5907  5s 834us/step - accuracy: 0.9247 - loss: 0.1358
Epoch 87/200
5907/5907  5s 822us/step - accuracy: 0.9247 - loss: 0.1352
Epoch 88/200
5907/5907  5s 843us/step - accuracy: 0.9254 - loss: 0.1355
Epoch 89/200
5907/5907  5s 829us/step - accuracy: 0.9257 - loss: 0.1351
Epoch 90/200
5907/5907  5s 842us/step - accuracy: 0.9229 - loss: 0.1367
Epoch 91/200
5907/5907  5s 818us/step - accuracy: 0.9237 - loss: 0.1366
Epoch 92/200
5907/5907  5s 843us/step - accuracy: 0.9252 - loss: 0.1358
Epoch 93/200
5907/5907  5s 835us/step - accuracy: 0.9252 - loss: 0.1363
Epoch 94/200
5907/5907  5s 829us/step - accuracy: 0.9252 - loss: 0.1365
Epoch 95/200
5907/5907  5s 823us/step - accuracy: 0.9253 - loss: 0.1356
Epoch 96/200
5907/5907  5s 832us/step - accuracy: 0.9254 - loss: 0.1357
Epoch 97/200
5907/5907  5s 834us/step - accuracy: 0.9239 - loss: 0.1369
Epoch 98/200
5907/5907  5s 832us/step - accuracy: 0.9255 - loss: 0.1348
Epoch 99/200
5907/5907  5s 826us/step - accuracy: 0.9251 - loss: 0.1360
Epoch 100/200
5907/5907  5s 831us/step - accuracy: 0.9259 - loss: 0.1351
Epoch 101/200
5907/5907  5s 826us/step - accuracy: 0.9253 - loss: 0.1348
Epoch 102/200
5907/5907  5s 838us/step - accuracy: 0.9266 - loss: 0.1342
Epoch 103/200
5907/5907  5s 819us/step - accuracy: 0.9256 - loss: 0.1356
Epoch 104/200
5907/5907  5s 836us/step - accuracy: 0.9254 - loss: 0.1356
Epoch 105/200
5907/5907  5s 827us/step - accuracy: 0.9248 - loss: 0.1354
Epoch 106/200
5907/5907  5s 841us/step - accuracy: 0.9252 - loss: 0.1353
Epoch 107/200
5907/5907  5s 824us/step - accuracy: 0.9249 - loss: 0.1374
Epoch 108/200
5907/5907  5s 827us/step - accuracy: 0.9245 - loss: 0.1373
Epoch 109/200
5907/5907  5s 827us/step - accuracy: 0.9261 - loss: 0.1345
Epoch 110/200
5907/5907  5s 838us/step - accuracy: 0.9250 - loss: 0.1355
Epoch 111/200
5907/5907  5s 807us/step - accuracy: 0.9248 - loss: 0.1348
Epoch 112/200
5907/5907  5s 850us/step - accuracy: 0.9260 - loss: 0.1345
Epoch 113/200
5907/5907  5s 827us/step - accuracy: 0.9249 - loss: 0.1364
Epoch 114/200
5907/5907  5s 841us/step - accuracy: 0.9250 - loss: 0.1357
Epoch 115/200
5907/5907  5s 834us/step - accuracy: 0.9250 - loss: 0.1351
Epoch 116/200
5907/5907  5s 840us/step - accuracy: 0.9262 - loss: 0.1337
Epoch 117/200
5907/5907  5s 839us/step - accuracy: 0.9263 - loss: 0.1346
Epoch 118/200
5907/5907  5s 848us/step - accuracy: 0.9255 - loss: 0.1361
Epoch 119/200
5907/5907  5s 830us/step - accuracy: 0.9254 - loss: 0.1344
Epoch 120/200
5907/5907  5s 854us/step - accuracy: 0.9257 - loss: 0.1338
Epoch 121/200
5907/5907  5s 837us/step - accuracy: 0.9255 - loss: 0.1347
Epoch 122/200
5907/5907  5s 845us/step - accuracy: 0.9254 - loss: 0.1356
Epoch 123/200
5907/5907  5s 835us/step - accuracy: 0.9261 - loss: 0.1332
Epoch 124/200
5907/5907  5s 853us/step - accuracy: 0.9255 - loss: 0.1360
Epoch 125/200
5907/5907  5s 839us/step - accuracy: 0.9248 - loss: 0.1343
Epoch 126/200
5907/5907  5s 850us/step - accuracy: 0.9253 - loss: 0.1356
Epoch 127/200
5907/5907  5s 826us/step - accuracy: 0.9249 - loss: 0.1345
Epoch 128/200
5907/5907  5s 853us/step - accuracy: 0.9254 - loss: 0.1340
Epoch 129/200
5907/5907  5s 841us/step - accuracy: 0.9266 - loss: 0.1341
Epoch 130/200
5907/5907  5s 856us/step - accuracy: 0.9250 - loss: 0.1341
Epoch 131/200
5907/5907  5s 826us/step - accuracy: 0.9248 - loss: 0.1344
Epoch 132/200
5907/5907  5s 853us/step - accuracy: 0.9258 - loss: 0.1345
Epoch 133/200
5907/5907  5s 840us/step - accuracy: 0.9254 - loss: 0.1356
Epoch 134/200
5907/5907  5s 863us/step - accuracy: 0.9249 - loss: 0.1351
Epoch 135/200
5907/5907  5s 832us/step - accuracy: 0.9256 - loss: 0.1343
Epoch 136/200
5907/5907  5s 854us/step - accuracy: 0.9251 - loss: 0.1348
Epoch 137/200
5907/5907  5s 828us/step - accuracy: 0.9250 - loss: 0.1368
Epoch 138/200
5907/5907  5s 848us/step - accuracy: 0.9250 - loss: 0.1365
Epoch 139/200
5907/5907  5s 835us/step - accuracy: 0.9273 - loss: 0.1324
Epoch 140/200
5907/5907  5s 857us/step - accuracy: 0.9245 - loss: 0.1347
Epoch 141/200
5907/5907  5s 850us/step - accuracy: 0.9258 - loss: 0.1341
Epoch 142/200
5907/5907  5s 877us/step - accuracy: 0.9248 - loss: 0.1340
Epoch 143/200
5907/5907  5s 846us/step - accuracy: 0.9242 - loss: 0.1370
Epoch 144/200
5907/5907  5s 864us/step - accuracy: 0.9253 - loss: 0.1360
Epoch 145/200
5907/5907  5s 854us/step - accuracy: 0.9253 - loss: 0.1365
Epoch 146/200
5907/5907  5s 847us/step - accuracy: 0.9245 - loss: 0.1358
Epoch 147/200
5907/5907  5s 825us/step - accuracy: 0.9254 - loss: 0.1348
Epoch 148/200
5907/5907  5s 858us/step - accuracy: 0.9252 - loss: 0.1349
Epoch 149/200
5907/5907  5s 836us/step - accuracy: 0.9266 - loss: 0.1332
Epoch 150/200
5907/5907  5s 860us/step - accuracy: 0.9252 - loss: 0.1363
Epoch 151/200
5907/5907  5s 837us/step - accuracy: 0.9246 - loss: 0.1344
Epoch 152/200
5907/5907  5s 852us/step - accuracy: 0.9250 - loss: 0.1360
Epoch 153/200
5907/5907  5s 847us/step - accuracy: 0.9251 - loss: 0.1344
Epoch 154/200
5907/5907  5s 862us/step - accuracy: 0.9254 - loss: 0.1349
Epoch 155/200
5907/5907  5s 849us/step - accuracy: 0.9257 - loss: 0.1344
Epoch 156/200
5907/5907  5s 863us/step - accuracy: 0.9245 - loss: 0.1369
Epoch 157/200
5907/5907  5s 841us/step - accuracy: 0.9238 - loss: 0.1372
Epoch 158/200
5907/5907  5s 858us/step - accuracy: 0.9252 - loss: 0.1355
Epoch 159/200
5907/5907  5s 835us/step - accuracy: 0.9258 - loss: 0.1359
Epoch 160/200
5907/5907  5s 855us/step - accuracy: 0.9252 - loss: 0.1361
Epoch 161/200
5907/5907  5s 841us/step - accuracy: 0.9251 - loss: 0.1353
Epoch 162/200
5907/5907  5s 853us/step - accuracy: 0.9245 - loss: 0.1356
Epoch 163/200
5907/5907  5s 829us/step - accuracy: 0.9263 - loss: 0.1338
Epoch 164/200
5907/5907  5s 856us/step - accuracy: 0.9246 - loss: 0.1352
Epoch 165/200
5907/5907  5s 851us/step - accuracy: 0.9257 - loss: 0.1344
Epoch 166/200
5907/5907  5s 861us/step - accuracy: 0.9243 - loss: 0.1371
Epoch 167/200
5907/5907  5s 828us/step - accuracy: 0.9245 - loss: 0.1367
Epoch 168/200
5907/5907  5s 857us/step - accuracy: 0.9248 - loss: 0.1349
Epoch 169/200
5907/5907  5s 839us/step - accuracy: 0.9257 - loss: 0.1344
Epoch 170/200
5907/5907  5s 852us/step - accuracy: 0.9259 - loss: 0.1346
Epoch 171/200
5907/5907  5s 839us/step - accuracy: 0.9237 - loss: 0.1372
Epoch 172/200
5907/5907  5s 856us/step - accuracy: 0.9254 - loss: 0.1348
Epoch 173/200
5907/5907  5s 846us/step - accuracy: 0.9256 - loss: 0.1349
Epoch 174/200
5907/5907  5s 858us/step - accuracy: 0.9257 - loss: 0.1342
Epoch 175/200
5907/5907  5s 844us/step - accuracy: 0.9253 - loss: 0.1342
Epoch 176/200
5907/5907  5s 860us/step - accuracy: 0.9254 - loss: 0.1338
Epoch 177/200
5907/5907  5s 856us/step - accuracy: 0.9242 - loss: 0.1364
Epoch 178/200
5907/5907  5s 868us/step - accuracy: 0.9244 - loss: 0.1360
Epoch 179/200
5907/5907  5s 868us/step - accuracy: 0.9249 - loss: 0.1371
Epoch 180/200
5907/5907  5s 896us/step - accuracy: 0.9256 - loss: 0.1363
Epoch 181/200
5907/5907  5s 843us/step - accuracy: 0.9240 - loss: 0.1370
Epoch 182/200
5907/5907  5s 862us/step - accuracy: 0.9246 - loss: 0.1360
Epoch 183/200
5907/5907  5s 841us/step - accuracy: 0.9254 - loss: 0.1355
Epoch 184/200
5907/5907  5s 854us/step - accuracy: 0.9249 - loss: 0.1357
Epoch 185/200
5907/5907  5s 848us/step - accuracy: 0.9242 - loss: 0.1356
Epoch 186/200
5907/5907  5s 865us/step - accuracy: 0.9255 - loss: 0.1356
Epoch 187/200
5907/5907  5s 846us/step - accuracy: 0.9249 - loss: 0.1359
Epoch 188/200
5907/5907  5s 874us/step - accuracy: 0.9260 - loss: 0.1344
Epoch 189/200
5907/5907  5s 841us/step - accuracy: 0.9253 - loss: 0.1348
Epoch 190/200
5907/5907  5s 862us/step - accuracy: 0.9254 - loss: 0.1345
Epoch 191/200
5907/5907  5s 842us/step - accuracy: 0.9248 - loss: 0.1352
Epoch 192/200
5907/5907  5s 861us/step - accuracy: 0.9262 - loss: 0.1348
Epoch 193/200
5907/5907  5s 847us/step - accuracy: 0.9251 - loss: 0.1357
Epoch 194/200
5907/5907  5s 859us/step - accuracy: 0.9266 - loss: 0.1339
Epoch 195/200
5907/5907  5s 836us/step - accuracy: 0.9256 - loss: 0.1348
Epoch 196/200
5907/5907  5s 852us/step - accuracy: 0.9245 - loss: 0.1344
Epoch 197/200
5907/5907  5s 848us/step - accuracy: 0.9254 - loss: 0.1345
Epoch 198/200
5907/5907  5s 866us/step - accuracy: 0.9255 - loss: 0.1347
Epoch 199/200
5907/5907  5s 839us/step - accuracy: 0.9255 - loss: 0.1346
Epoch 200/200
5907/5907  5s 864us/step - accuracy: 0.9256 - loss: 0.1341

In [33]:
model_loss, model_accuracy = nn.evaluate(X_train_scaled, y_train, verbose=2)
print(f"loss: {model_loss}, accuracy: {model_accuracy}")

5907/5907 - 4s - 602us/step - accuracy: 0.9270 - loss: 0.1322
loss: 0.13218632340431213, accuracy: 0.9270211458206177

In [34]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"loss: {model_loss}, accuracy: {model_accuracy}")

1969/1969 - 1s - 681us/step - accuracy: 0.8842 - loss: 0.2964
loss: 0.2964172959327698, accuracy: 0.8842381238937378

In [30]:
import pickle
pickle.dump(nn, open('model.pkl','wb'))

In [31]:
import joblib
joblib.dump(nn, '../data/model_joblib.pkl')
joblib.dump(MinMaxScaler, '../data/scaler.pkl')

['../data/scaler.pkl']